NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 10 ns HIGH 50 %;

Net clk LOC=AJ15;
Net clk IOSTANDARD = LVCMOS25;

Net rst LOC=AG5;
Net rst IOSTANDARD = LVCMOS25;

Net txd LOC=AE7;
Net txd IOSTANDARD = LVCMOS25;
Net rxd LOC=AJ8;
Net rxd IOSTANDARD = LVCMOS25;

#LEDs
NET	leds<0>	LOC = "R145"	| IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET	leds<1>	LOC = "R146"	| IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET	leds<2>	LOC = "R147"	| IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET	leds<3>	LOC = "R148"	| IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET	leds<4>	LOC = "R149"	| IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET	leds<5>	LOC = "R150"	| IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET	leds<6>	LOC = "R151"	| IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET	leds<7>	LOC = "R152"	| IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

#Switches
NET	switches<0> LOC = "N17"	|  IOSTANDARD = LVTTL | PULLUP;
NET	switches<1> LOC = "H18"	|  IOSTANDARD = LVTTL | PULLUP;
NET	switches<2> LOC = "L14"	|  IOSTANDARD = LVTTL | PULLUP;
NET	switches<3> LOC = "L13"	|  IOSTANDARD = LVTTL | PULLUP;
